@font-face{
	font-family:"SimHei";
	src:url("./image/chinese.simhei.ttf");
}
@font-face{
	font-family:"Microsoft YaHei";
	src:url("./image/chinese.msyh.ttf");
}
body{margin: 0; padding: 0; min-width: 1280px; position: relative;}
.container{font-family: "Microsoft YaHei";}
.nav{height: 58px; width: 100%;  position: fixed; top: 0; z-index: 9999; /*background-color: white;*/}
#nav_background{height: 58px; width: 100%;  position: fixed; top: 0; z-index: 999; background-color: white;}
/*.nav{height: 58px; width: 100%;  position: fixed; top: 0; z-index: 9999; background-color: white; }*/
.nav_left{float: left;  margin-left: 53px; height: 58px;  line-height:58px; font-size:0px; }
.nav_left img{width: 33px; height: 33px; vertical-align: middle;}
.nav_left span{font-size:21px;font-family: "SimHei"; margin-left: 10px; color: #3D3E3E; vertical-align: middle;}
.nav_right{float: right; margin-right: 65px; height: 58px;}
.nav_right div{font-family: "Microsoft YaHei"; font-size: 14px; margin-left: 50px; width: 65px; color: #7D7F86; line-height: 58px; z-index: 1; display: inline-block; vertical-align: top;}
#selected{border-bottom: 4px solid #DE373C; color: #DE373C; height: 58px; width: 55px; text-align: center; display: block; z-index: -100; position: absolute; margin-left: 40px; margin-top: -60px; top: 60px; -webkit-transition-property: margin-left;  -webkit-transition-duration: 0.5s; }
.nav_right div:hover{color: #DE373C; cursor: pointer;}
.nav_right div:nth-child(3):hover~ #selected{margin-left: 170px;}
.nav_right div:nth-child(4):hover~ #selected{margin-left: 290px;}
.nav_right div:nth-child(5):hover~ #selected{margin-left: 410px;}
.nav_right div:nth-child(6):hover~ #selected{margin-left: 530px;}
.nav_right ul{width: 65px; max-height: 900px; list-style: none; display: none; background-color: #E3E2E1;z-index: 10; font-size: 12px; padding: 0 10px; text-align: center; margin-left: -15px;}
.nav_right li{list-style: none;}
.nav_right div:hover ul{display: block; color: #737578;}
.nav_right li:hover{ color: white;cursor: pointer; background:url(./image/selected.png) no-repeat center; }
.log{float: right; color: #E5676A; margin-left: 5px;}
.log img{width: 16px; height: 18px; margin-top: 20px; margin-left: 10px;}
.log span{float: right; font-size: 14px; display: inline-block; /*margin-top: 18px; */cursor: pointer;}

.banner{margin-top: 60px;}
.banner1{font-size: 0; margin-top: 4px; color: white; position: relative; height: 841px; /*background-image: url(./image/banner1.png);width: 100%; height: 690px; background-size: cover; padding-top: 289px;  */}
.banner1 img{ width: 100%; height: 841px; position: absolute; z-index: -1;  -webkit-filter:brightness(85%);}
.p1{font-size: 60px; line-height: 0; margin-top: 231px; margin-left: 113px; position: absolute;}
.p2{position: absolute; font-size: 21px; margin-left:121px; margin-top: 322px;}
.p2 p{line-height: 15px;}
.banner1 button{width: 333px; height: 68px; background-color: #DF373D; color: white; font-size: 30px; margin-left: 126px; margin-top: 465px; border:none; cursor: pointer;}

.goals{font-size: 0; margin-top: -151px; width: 100%; height: 251px; background-color: white;}
.goals_img{height: 131px; width: 100%; text-align: center; vertical-align: middle;}
.goals_img div{width: 25%; height: 43px; margin-top: 45px; /*margin: 45px 145px;*/ display: inline-block; }
.goals_words{height: 120px; width: 100%;  }
.goals_words div{height: 53px; width: 25%;  /*margin: 0 2%;*/ color:#9B9B9B; font-size: 14px; font-family: "SimHei"; display: inline-block; box-sizing:border-box; border-left: 1px solid #9B9B9B; text-align: center;}
.goals_words div:nth-last-child(4){border:none;}
.goals_words p{width: 155px; margin: 0 auto; display: inline-block;}
.goals_words p:hover{color: #DE373C; cursor: pointer;}

.banner2{height: 360px; background-color: #E9E8E7; text-align: center;}
.banner2 img{height: 89px; width: 88px; margin-top: 90px;}
.banner2 p{font-size: 52px; font-family: "SimHei"; color: #909090; line-height: 49px;}

.search{font-size: 0;position: relative; }
.search img{height:340px; width: 100%;  position: absolute; z-index: -2;}
.mask{height: 340px; width: 100%; background-color: #E96C74; opacity: 0.2; position: absolute; z-index: 1;}
.search_form{font-size: 12px;position: absolute; z-index: 2; }
.search_words{width:100%; font-size: 12px; color:white; position: absolute; z-index: 2; text-align: center; margin-top: 50px;}
.search_words p{margin-top: 18px;}
.search_words p:first-child{font-size: 21px; margin-bottom: 0;}
#hasborder{border-bottom: 2px solid white; height: 10px; text-align: center; width: 20px; margin:0 auto;}

.search_form{width: 100%; }
.Select{ width:235px; height:35px; background: url(./image/arrow.png) no-repeat center;  z-index:10px; cursor:pointer; line-height: 35px;  box-sizing:border-box; font-size: 12px;}
.Select span{padding: 10px; color: #DCDBDD; }
.Select:hover ul{display: block;}
.Select:hover {border:1px solid #AE3938; border-bottom: none;}
.Select ul{ position:relative; left: -1px; list-style:none; width:233px; max-height:1000px; overflow-y:visible; overflow-x:hidden;  padding:0; margin:0;  text-align:center; display:none; border:1px solid #AE3938; border-top:0; background-color: white; background-color: #DCDCDF; color:#656565;text-align: left;  }
.Select li{line-height: 26px; cursor: pointer; padding-left: 30px;}
.Select li:hover{background:url(./image/selected.png) no-repeat center; }

.CountrySelect{margin-left: 125px; margin-top: 170px;}
.ProvinceSelect{margin-left: 390px; margin-top: -35px;}
.CitySelect{margin-left: 654px; margin-top: -35px;}
.search_button{width: 235px; height: 35px; background-color: #AE3938; line-height: 35px; border:none; margin-top: -35px; margin-left: 920px; cursor: pointer; }
.search_button span{letter-spacing: 25px; font-size: 14px; color: white; margin-left: 90px;}

.city{position: relative; font-size: 0;}
.acti{width: 100%; height: 605px; background-color: #F5F5F5; position: absolute; left: 0; top: 340px; font-family: "SimHei"; font-size: 0; }
.acti table{padding: 0; width: 78%; height: 404px; margin:100px auto;  text-align: center;}
.captain{height: 65px; width: 220px; text-align: center; margin:0 auto;}
.city img{height: 342px; width: 222px; display: block; border:1px solid #C3C3C3; border-bottom: none; margin: 0 20px;}
.notes{color: #8E8E8E; font-size: 12px;}
.small_title{color: #2F3030; font-size: 16px; line-height: 0;}
.special_title{font-size: 20px; letter-spacing: 25px; margin-left: 25px; }

.news{width: 100%; position: relative; height: 566px; margin-top: 945px; display: -webkit-flex; display: flex; overflow: hidden;}
.adver_left{ -webkit-flex: 2;  /* Safari 6.1+ */ -ms-flex: 2;  /* IE 10 */ flex: 2; background: url(./image/adver01.png) no-repeat; background-size: 100%; /*width:66%; height: 566px;*/ text-align: center; color: white; }
.adver_left img{width: 66%; }
.adver_words{position: absolute; height: 280px; width: 66%; padding: 130px 0; text-align: center; }
.adver_left p{margin: 0;}
.newworld{font-size: 49.5px; line-height: 60px; height: 60px;}
.time{font-size: 158px; line-height: 140px; height: 140px;}
.place{font-size:22px ;line-height:73px; height: 73px;}
.date{font-size: 22px; line-height: 0; }
.triangle{ box-sizing:border-box; border-style: solid; border-width: 13px 25px 13px 0; border-color:transparent white transparent transparent; width: 0; height: 0; float: right; margin-top: 269px; }

.adver_right{-webkit-flex: 1;  /* Safari 6.1+ */ -ms-flex: 1;  /* IE 10 */ flex: 1;  height: 566px; position: relative;}
.slide_button{width: 106px; height: 55px; line-height: 55px;  padding: 20px 0; text-align: center; margin-left: 160px; margin-top: 365px;}
.dot{display: inline-block; width: 10px; height: 10px; border-radius: 5px; border:1px solid #7E7F80; margin: 0 7px;}
.slide{height: 261px; width: 100%;  background-color: white; padding-top: 130px; text-align: center;  position: absolute; }
.slide_title{font-size: 22px; width: 100%; height: 29px; position: relative; }
.slide_title p{font-size: 12px; color: #A2A2A1; padding:20px 70px; line-height: 25px; }
.button{width: 105px; height: 35px; border: 1px solid #DC5057; color:#DC5057; font-size: 12px; line-height: 35px; margin: 0 auto;}
.button:hover{cursor: pointer; background-color: #DC5057; color: white;}
.slide_name{ color: #262626;}
.line{color: #6C6D6D; }
.slide_number{color: #DF373D;}
.dot01{background-color: #808081;}
.slide02{left: 500px; }
.slide03{left: 1000px;}

.loveself{height: 522px; width: 100%; display: -webkit-flex; display: flex; font-family: "SimHei"; line-height: 15px;}
.love{-webkit-flex:1; -ms-flex:1; flex:1;  font-size: 21px; text-align: center; padding-top: 160px;  }
.love_left{background-color: #DF373D; color: white;}
.love_hasborder{height: 3px; width: 30px; box-sizing:border-box;margin: 10px auto;}
.love_hasborder01{ border-bottom: 2px solid white;}
.love_button{height: 50px; width: 173px; border:1px solid white; text-align: center; line-height: 50px; margin:18px auto;}
.love_button:hover{background-color: white; color:#DF373D; cursor: pointer; }
.love_middle{-webkit-flex:1; -ms-flex:1; flex:1; background-color: white; color: #3A3A3A;}
.love_middle>.love_button{color:#DF373D; border: 1px solid #DF373D; }
.love_middle>.love_button:hover{background-color:#DF373D; color: white; }
.love_hasborder02{border-bottom: 2px solid #9A9A9A;  }
.love_right{-webkit-flex:1; -ms-flex:1; flex:1; background: url(./image/loveself.png) no-repeat; background-size: 100%; }
.love_right>.mask{height: 522px; width: 33.3%; background-color: black; opacity: 0.4;}
.love_right>.triangle{height: 30px; border-width: 15px 0 15px 25px;border-style: solid; border-color: transparent transparent transparent white; position: absolute; z-index: 200;}

.volunteer{width: 100%; height: 748px;padding-top: 28px;}
.vol_words{width: 465px; height: 141px; margin:40px auto; text-align: center; font-size: 12px; color: #9A9A9A;}
.vol_words>p:first-child{font-size: 21px; color: #262626; line-height: 15px;}
.vol_hasborder{ border-bottom: 2px solid #DF373D; }

.fill{display: -webkit-flex; display: flex; height: 290px; width: 100%; }
.obligation{ -webkit-flex:1; -ms-flex:1; flex:1;  font-size: 12px; color: #8B8988; margin-top:20px; }
.obli{width: 290px;height: 105px; margin:30px 0 30px 170px;}
.contract{margin-top:0;}
.contract>p:first-child{margin-top: 0;}
.obli>.header{font-size: 14px; color: #615D5C; }
.obli>.content{line-height: 20px; height: 44px; overflow: hidden; text-overflow:ellipsis;}
.more_button{margin-left: 220px;}
.more_button img{width: 10px; height: 6px; margin-right:3px;}

.fill_form{ -webkit-flex:2; -ms-flex:2; flex:2; }
.fill_form>table{border:none; height: 285px; width: 648px; background-color: #E8E7EA; margin: 0 auto; border-collapse: collapse; color:#747070; font-size: 12px;}
.fill_form>tr,td{border:20px solid white;}
input[type=text]{border:none; outline: none; background-color:#E8E7EA;  padding: 16px; width: 312px; margin-top: 0;}
#dream{height: 120px;}
#dream td{height: 120px;}
#dream textarea{height: 120px; width: 698px; background-color: transparent; resize:none; border:none; outline: none; padding: 16px; }
.fill_form td:last-child{height: 44px;}
.fill_form button{border:none; background-color: transparent; color:black;font-size: 14px; margin:0 320px; outline:none;}
.fill_form td:last-child:hover{cursor: pointer;}

.footer{height: 415px; width: 100%; background-color: #262830;}
.first{height: 360px; width: 100%; position: relative; }
.footer_words{position: absolute; width: 515px; height: 200px; text-align: center; font-size: 12px; color: white; margin-top: 83px; margin-left: 50%; transform:translateX(-278px);}
.footer_words p:first-child{font-size: 21px; line-height: 21px;}
.footer_words p:nth-child(2){padding: 0 20px; margin-bottom: 28px;}
.footer_words input{height: 45px; width: 425px; border:none; padding: 0 0 0 10px; outline: none; color: #C7C7C7; font-size: 14px;}
.footer_words button{float: right; width: 80px; height: 45px; display: inline-block; border:none; padding: 0; outline: none; background-color: #5C5E64; color: white; font-size: 15px;}
.second{height: 55px; width: 100%; background-color: #1A1A1A;}
.social_media{width: 250px; height: 40px; margin: 30px auto;}
.social_media div{display: inline-block; width: 30px; height: 30px; margin:0 13px;}
#qq{background:url(./image/social_media.png) no-repeat 0 0;}
#weibo{background:url(./image/social_media.png) no-repeat -50px 0;}
#twitter{background:url(./image/social_media.png) no-repeat -105px 0;}
#globe{background:url(./image/social_media.png) no-repeat -155px 0;}

.second div{display: inline-block;  height: 23px; line-height: 23px; text-align: center; color: white; font-size: 12px;}
.left{float: left; margin-left: 95px; margin-top: 15px; width: 85px;}
.right{float:right; margin-right: 35px; margin-top: 15px; width:75px;}
.right a{text-decoration: none; color: white;}










